schleuder-cli(8)
================

## NAME

schleuder-cli - manage `schleuder`(8)-lists, subscriptions, and keys.

## SYNOPSIS

`schleuder-cli` <cmd> <args...>

`schleuder-cli` help

## DESCRIPTION

schleuder-cli is a command line tool to create, configure, and delete schleuder-lists, subscriptions, and OpenPGP-keys.

It uses the `schleuder`(8) API, provided by `schleuder-api-daemon`(8), either unencrypted via localhost (default) or TLS-encrypted remotely.

Authentication with an API-key is mandatory. It should be provided by the API operators.

If TLS is used, TLS-verification is also mandatory. You need the fingerprint of the TLS-certificate of `schleuer-api-daemon`(8), which should also be provided by the operators of `schleuer-api-daemon`(8).

schleuder-cli does *not* authorize access. Only people who are supposed to have full access to all lists should be allowed to use it on/with your server.


## ENVIRONMENT

### Configuration


SchleuderCli reads its settings from a file that it by default expects at `$HOME/.schleuder-cli/schleuder-cli.yml`. To make it read a different file set the environment variable `SCHLEUDER_CLI_CONFIG` to the path to your file. E.g.:

    SCHLEUDER_CLI_CONFIG=/usr/local/etc/schleuder-cli.yml schleuder-cli ...

The configuration file specifies how to connect to the Schleuder API. If it doesn't exist, it will be filled with the default settings.

The default settings will work out of the box with the default settings of Schleuder if both are running on the same host.

### Options

These are the configuration file options and their default values:

 * `host`:
   The hostname (or IP-address) to connect to. Default: <localhost>.
 * `post`:
   The port to connect to. Default: <4443>.
 * `use_tls`:
   Use TLS when connect to Schleuder API? Default: <false>.
 * `tls_fingerprint`:
   TLS-fingerprint of the Schleuder API. To be fetched from the API operators. Default: empty.
 * `api_key`:
   Key to authenticate with against the Schleuder API. To be fetched from the API operators. Default: empty.


## FILES

 * `$HOME/.schleuder-cli/schleuder-cli.yml`:
   default path of schleuder-cli configuration file.

The configuration file is formatted as YAML. See
<http://www.yaml.org/> for more details.

## BUGS

Known bugs are listed on the schleuder-cli bugtracker at
<https://0xacab.org/schleuder/schleuder-cli/issues>

## SEE ALSO

`schleuder`(8),
`schleuder-api-daemon`(8).

 * Website of `schleuder-cli`:
   <https://0xacab.org/schleuder/schleuder-cli/>

 * Website of `schleuder`:
   <https://schleuder.nadir.org/>

 * More extensive documentation for `schleuder`:
   <https://schleuder.nadir.org/docs/>

 * `schleuder-web`, the web interface for list-management:
   <https://0xacab.org/schleuder/schleuder-web/>
